body {
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
  }

header {
    z-index: 2;
}

  #calendar {
    max-width: 900px;
    margin: 0 auto;
    padding-top: 50px;
      z-index: 0;
  }
