.titulocurso{
    margin-top: 30px;
    margin-left: 40px;
}
#inscripcion {
    width: 100px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 75px 75px 75px;
    margin: 20px;
}

#inscripcion input {
    margin: 20px;
}

#precio{
    position: absolute;
    background-color: black;
    color: white;
    width: 3%;
    margin-left: 40px;
    margin-top: 7px;
}

#boton{
    background-color: black;
    color: white;
    margin-left: 120px;
    display: inline-block;
    border-radius: 8px;
    padding: 8px 40px;
    text-align: center;
    font-weight: bold;
}

footer{
    position: absolute;
    bottom: 0;
}

