section {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#vistaprevia p {
    text-align: center;
    margin-top: 10px;
}

#colorcard {
    display: block;
    height: 300px;
    width: 300px;
    background-color: blue;

}

#personalizacion {
    margin-left: 30px;
}

#personalizacion h1, p {
    margin-bottom: 20px;
}

#personalizacion input{
    border: 1px solid black;
    width: 75%;
    height: 25px;
}

#personalizacion input[type="radio"]{
    height: 15px;
}

.cuadrados, .circulos {
    display: block;
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}

.circulos {
    border-radius: 50%;
}

#rojo {
    background-color: red;
}

#azul {
    background-color: blue;
}

#verde{
    background-color: green;
}

#negro {
    background-color: black;
}

.elecciones {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.elecciones div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}



#confirmacion input{
    font-size: 17px;
    background: white;
    cursor: pointer;
    margin-bottom: 20px;
}

#confirmacion:hover{
    transition: all .8s ease;
    background: #000;
    color: #fff;
    border: 1px solid #fff;
}

