.imagen {
    width: 100%;
    height: auto;
    display: flex;
    justify-content:center;
    padding: 30px ;
}

@media screen and (max-device-width: 600px){

    .imagen{
    max-width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    }
}
