

section {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.imagenDelCurso {
    height: 200px;

}

#detallesDelCurso, #contenidos {
    margin-left: 30px;
}

h1 {
    font-size: 28;
    margin-bottom: 15px;
}

h2 {
    font-size: 18;
    margin-bottom: 10px;
}

#inscripcion {
    width: 50%;
    font-size: 17px;
    background: white;
    cursor: pointer;
    margin-bottom: 20px;
}

#inscripcion:hover{
    transition: all .8s ease;
    background: #000;
    color: #fff;
    border: 1px solid #fff;
}

ul {
    list-style: none;
}

#docente {
    border: 3px solid black;
    width: 70%;
    padding: 20px;
}

#profesor {
    height: 100px;
    float:left;
    margin-right: 20px;
}

#estrellas {
    color: orange;
}

