*{
    margin:0;
    padding:0;
    font-family: 'Lato',sans-serif;
}

body{
    background: #D3D3D3;
}

header, nav {
    min-width: 601px;
}

header{
    position: sticky;
    background-color: black;
    color: white;
    top: 0;
    height: 60px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

header .logo {
    max-width: 300px;
    margin-left: 20px;
}

#buscador {
    font-size: 15px;
    background: white;
    cursor: pointer;
    margin: auto;
    padding: 1px 5px 0px 5px;
    font-family:serif;
}

#buscador:hover{
    transition: all .8s ease;
    background: #000;
    color: #fff;
    border: 1px solid #fff;
}

header .buscar {
    font-weight:bold;
    padding: 2px 10px 0px 5px;
    font-family:serif;
}

header .ladoi{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#carrito {
    font-size: 28;
    display: flex;
}

#carrito img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.menuprincipal {
    transition: all .7s ease;
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    font-weight:bold;
    height: 30px;
}

.menuprincipal a {
    text-decoration: none;
    color: black;
    padding: 8px 10px;
    display: flex;
    flex-grow: 1;
    text-align: center;
    justify-content: center;
    border-right: 3px solid #D3D3D3;
    align-items: center;
}

.menuprincipal a:hover {
    background-color: #D3D3D3;
    color: black;
}

.menuprincipal form {
    display: none;
}

footer {
    display: flex;
    width: 100%;
    height: 150px;
    justify-content: space-around;
    padding: 10px 0px 10px 0px;
    background-color:#000;
    color: white;
    align-items: center;
}

footer .menuinferior a{
    color: #fff;
    text-decoration: none;
}

footer .menuinferior a:hover{
    text-decoration: underline;
}

footer .redes{
    width: 22px;
}

footer .redessociales a{
    color: #fff;
}

@media screen and (max-device-width: 600px){

    * {
        font-size: 40;
    }

    header{
    position: sticky;
    background-color: black;
    color: white;
    width: 100%;
    top: 0;
    min-height: 200px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    }

    header form {
        display: none;
    }

    #buscadorWeb {
        display: block;
        padding: 50;
    }

    .buscar {
        min-width: 600px;
        height: 100px;
    }

    #buscadorBoton {
        width: 200px;
        height: 80px;
    }

    .ladoi {
        width: 50%;
    }

    #carrito img{
        min-width: 150px;
        min-height: 150px;
    }

    .menuprincipal {
        transition: all .7s ease;
        background-color: white;
        text-align: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        font-weight:bold;
        align-items: center;
        height: auto;
    }

    .menuprincipal a {
        padding: 50px;
        border: 0;
        display: none;
    }

    #iconoMenu div{
        width: 150px;
        height: 10px;
        background-color: black;
        margin: 25px 0;
    }

    .menu {
        display: none;
    }

    footer {
        display: flex;
        width: 100%;
        height: auto;
        flex-direction: column;
        padding: 10px 0px 10px 0px;
        background-color:#000;
        color: white;
        align-items: center;
    }

    #Integrantes, .menuinferior, .redessociales{
        border-bottom: 2px solid white;
        width: 80%;
        padding: 20px;
    }

    .redessociales {
        border-bottom: 0;
    }

    .redessociales img {
        min-width: 150px;
        min-height: 150px;
        padding-top: 50px;
    }



}
