section {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#colorcard {
    height: 300px;
    width: 300px;
    background-color: blue;

}

#personalizacion {
    margin-left: 30px;
}

.rojo {
    width: 30px;
    height: 30px;
    background-color: red;
}

#confirmacion {
    font-size: 17px;
    background: white;
    cursor: pointer;
    margin-bottom: 20px;
}

#confirmacion:hover{
    transition: all .8s ease;
    background: #000;
    color: #fff;
    border: 1px solid #fff;
}

