#form2{
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    margin-left: 150px;
    margin-top: 25px;
    margin-bottom: 120px;
}

.caja{
    width: 451px;
    height: 33px;
}

#texto{
    resize: vertical;
    max-height: 150px;
    min-height: 40px;
}

#enviar{
    width: 200px;
    height: 25px;
    background-color: white;
    color: black;
}

#limpiar{
    width: 250px;
    height: 25px;
    background-color: white;
    color: black;
}

#enviar:hover{
    transition: all .8s ease;
    background: black;
    color: white;
    border: 1px solid white;
}

#limpiar:hover{
    transition: all .8s ease;
    background: black;
    color: white;
    border: 1px solid white;
}

aside{
    float: right;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 270px;
    margin-right: 200px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.ubi{
    display: flex;
    width:100%;
    color:black;
    background-color: #808080;
    text-align: center;
    padding: 20px 0px 20px 0px;
    justify-content: center;
    font-weight:bold;
    font-size: X-large;
}

#mapa{
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}

@media screen and (max-device-width: 600px){

#form2{
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 150px;
    font-size: x-small;
}

.caja{
    min-width: 500px;
    height: 50px;
}

#texto{
    max-width: 500px;
}

#enviar{
    width: 150px;
    height: 55px;
}

#limpiar{
    width: 290px;
    height: 55px;
}

    form h4{
        text-align: center;
    }


aside{
    position: relative;
    left: 15%;
    margin-top: 500px;
    margin-bottom: 150px;
}

 .ubi{
    position: relative;
    display: flex;
    width:100%;
    color:black;
    background-color: #808080;
    text-align: center;
    padding: 10px 0px 10px 0px;
    justify-content: center;
    font-weight:bold;
    font-size: X-small;
    margin-top: 600px;
}

#mapa{
    width: 680px;
    display: flex;
    justify-content: center;
}
