header {
    z-index: 2;
}

.contenedor{
    padding-top: 50px;
    z-index: 0;
}

.cajaPasos {
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.pasos{
    color: white;
    padding: 14px 16px;
    display: flex;
    flex-grow: 1;
    text-align: center;
    justify-content: center;
    border: 30px solid #d3d3d3;
}

.cursosT{
    display: flex;
    width:100%;
    color:black;
    background-color: #808080;
    text-align: center;
    padding: 20px 0px 20px 0px;
    justify-content: center;
    font-weight:bold;
    font-size: X-large;
}

#cursos {
    display: flex;
    justify-content: space-around;
}

#cursos .cajaCursos{
    background:rgba(0,0,0);
    height: 370px;
    border: 2px solid black;
}

#cursos .foto {
    padding: 10px;
    width: 250px;
    height: 200px;
}

#cursos .titulo2{
    color: #fff;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    text-decoration: underline;
}

#cursos .hora {
    color: #fff;
    text-align: left;
    font-size: 22px;
    font-weight: bold;
    padding: 10px 0px 0px 15px;
}

#cursos .detalles {
    color: #fff;
    display: block;
    font-size: 17px;
    padding: 10px 0px 20px 15px;
}

#cursos .comprar {
    display: flex;
    justify-content: center;
    width: 50%;
    font-size: 17px;
    background: white;
    cursor: pointer;
    margin: 0 auto;
}

#cursos .comprar:hover{
    transition: all .8s ease;
    background: #000;
    color: #fff;
    border: 1px solid #fff;
}

.pagos{
    display: flex;
    justify-content: center;
    margin: 40px;
}

.icon{
    height: 60px;
    margin-left: 20px;
    margin-right: 20px;
    }

@media screen and (max-device-width: 600px){



    .cajaPasos {
    display: flex;
    flex-direction: column;
    background-color: black;
    }

    .cursosT{
    display: flex;
    width:100%;
    color:black;
    background-color: #808080;
    text-align: center;
    padding: 20px 0px 20px 0px;
    justify-content: center;
    font-weight:bold;
    font-size: 40;
    }

    #cursos {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    #cursos .cajaCursos{
        background:rgba(0,0,0);
        border: 2px solid black;
        margin: 50px;
        width: 600px;
        height: auto;
    }

    #cursos img {
        min-width: 300px;
        min-height: 250px;
    }

    #cursos .titulo2, #cursos .hora, #cursos .detalles{
        font-size: 40px;
    }

    .pagos{
        display: flex;
        flex-wrap: wrap;
        margin: 40px;
    }

    .icon{
        height: 250px;
        margin-left: 20px;
        margin-right: 20px;
        padding: 30px;
    }

    #cursos .comprar {
        width: 50%;
        font-size: 40;
        height: 70px;
    }

}
